<div class="container p-4">

    <div class="row justify-content-center">

        <h1>Modificar grupo {{grupo.idgrupo}}</h1>

    </div>

    <div class="row justify-content-center mt-4">

        <div class="col-md-4">

            <form action="/grupos/actualizar/{{grupo.idgrupo}}" method="POST" onsubmit="return validarFormulario()">

                <div class="form-group">

                    <input type="text" class="form-control" name="num_grupo" placeholder="Numero de grupo" maxlength="3"

                        minlength="1" value="{{grupo.num_grupo}}" required />

                </div>

                <div class="form-group">

                    <input type="number" class="form-control" name="anio" placeholder="Año" value="{{grupo.anio}}"

                        required />

                </div>

                <div class="form-group">

                    <input type="number" class="form-control" name="ciclo" placeholder="Ciclo" value="{{grupo.ciclo}}"

                        required />

                </div>
                <div class="form-group">
                    <select class="form-control" name="idmateria" required>
                        {{#each lstMaterias}}
                        <option value="{{this.idmateria}}" {{#if (isEquals this.idmateria ../grupo.idmateria)}}
                            selected="selected" {{/if}}>
                            {{this.materia}}
                        </option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" name="idprofesor" required>
                        {{#each lstProfesores}}
                        <option value="{{this.idprofesor}}" {{#if (isEquals this.idprofesor ../grupo.idprofesor)}}
                            selected="selected" {{/if}}>
                            {{this.nombre}}
                        </option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

    function validarFormulario() {

        var num_grupo = document.getElementsByName('num_grupo')[0].value;

        var anio = document.getElementsByName('anio')[0].value;

        var ciclo = document.getElementsByName('ciclo')[0].value;

 

        if (num_grupo.length > 3 || num_grupo.length < 1) {

            alert('El número de grupo debe tener entre 1 y 3 caracteres');

            return false;

        }

 

        if (isNaN(anio) || anio < 1900 || anio > 3000) {

            alert('El año debe ser un número válido entre 1900 y 3000');

            return false;

        }

 

        if (isNaN(ciclo) || ciclo < 1 || ciclo > 99) {

            alert('El ciclo debe ser un número válido entre 1 y 99');

            return false;

        }

 

        return true;

    }

</script>