<div class="container p-4">
    <div class="row justify-content-center">
        <h1>Actualizar profesor</h1>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-4">
            <form action="/profesores/modificar/{{profesor.idprofesor}}" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="idprofesor" placeholder="Codigo del profesor"
                        value="{{profesor.idprofesor}}" autofocus />
                </div>                 
                <div class="form-group">
                    <input type="text" class="form-control" name="nombre" placeholder="Nombres del profesor" 
                        value="{{profesor.nombre}}"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="apellido" placeholder="Apellidos del profesor" 
                        value="{{profesor.apellido}}"/>
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" name="fecha_nacimiento" placeholder="Fecha Nacimiento" 
                        value="{{profesor.fecha_nacimiento}}"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="profesion" placeholder="Profesion" 
                        value="{{profesor.profesion}}"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="genero" placeholder="Genero" 
                        value="{{profesor.genero}}"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="Email" 
                        value="{{profesor.email}}"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>